@import url(./cabecalho.css);
@import url(./rodape.css);
@import url(./break-point-pages.css);

.conteudo h2{
    margin: 2% auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 4rem;
    text-align: center;
}

.conteudo p{
    margin: 4% auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 2rem;
    text-align: justify;
    max-width: 1000px;
    text-align: justify;
}

.conteudo img{
    display: flex;
    width: 300px;
    margin: 0 auto;
}
.conteudo figcaption{
    text-align: center;
}